<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Semantic -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<!-- Bulma -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">


	<!-- Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/person.css">
	<link rel="stylesheet" href="/stylesheets/post.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

	<script src="/js/search.js"></script>
  	<script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>  
	<script type="text/javascript" src="/js/members.js"></script>
	<script src="/js/post.js"></script>
	<script src="/js/yelpAPI.js"></script>
  	<script src="/js/search.js"></script>

	<title>Peregrine Travel App</title>
</head>

<body class="indexBod">
	{{{ body }}}
</body>

</html>