    <div class="ui container">
        <button class="ui left floated inverted button">
          <a class="item" href="./index.handlebars">Home</a>
        </button>
        <button class="ui right floated inverted button">
          <a class="item" href="./login.handlebars">Log in</a>
        </button>
        <button class="ui right floated inverted button">
          <a class="item" href="./signup.handlebars">Sign up</a>
        </button>
    
    </div>
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui very relaxed celled list">
                <div class="item">
                  <img src="./images/2LABurrito.jpg">
                <div class="content">
                    <div class="header">
                      New York Dog Fair
                      <div class="ui star rating" data-rating="2"></div>
                    </div>
                    A fun day at the fair
                  </div>
                </div>
    
            </div>
        </div>
        
    </div>


    <script type="text/javascript">
        $(document).ready(function () { $(".rating").rating(); });
    </script>
    

