    <div class="ui two column centered grid">
        <div class="ui container">
            <button class="ui left floated inverted button">
                <a class="item" href="/">Home</a>
            </button>
            <button class="ui right floated inverted button">
              <a class="item" href="/login">Log in</a>
            </button>
            <button class="ui right floated inverted button">
              <a class="item" href="/signup">Sign up</a>
            </button>
      
        </div>
        <div class="column">
            <!-- <form action="/action_page.php">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <input type="submit">
            </form> -->
    
            <div class="ui form">
                <div class="field">
                    <label for="img">Select image</label>
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
                <div class="field">
                  <label>Name</label>
                  <input type="text" id="post-title">
                </div>
            </div>
            <div class="ui form">
            <div class="field">
                  <label>Location</label>
                  <input type="text" id="post-location">
                </div>
            </div>
            <h2>Rating</h2>
            <div class="ui star rating" data-rating="3" id="post-rating"></div>

            <div class="ui form">
                <div class="field">
                  <label>Review Text:</label>
                  <textarea id="post-body"></textarea>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <label>Tags</label>
                    <input type="text" id="post-tags">
                </div>
            </div>
            
            <button class="ui button" id="new-post-submit">Submit:</button>
            
        </div>
        
    </div>

    
</body>
<script type="text/javascript">
    $(document).ready(function(){$(".rating").rating();});
</script>
{{!-- <script src="../public/js/post.js"></script> --}}

