  <div class="ui container">
    <button class="ui left floated inverted button">
      <a class="item" href="./index.handlebars">Home</a>
    </button>
    <button class="ui right floated inverted button">
      <a class="item" href="./login.handlebars">Log in</a>
    </button>
    <button class="ui right floated inverted button">
      <a class="item" href="./signup.handlebars">Sign up</a>
    </button>

  </div>

  <div class="container" id="helpme">
    <div id="restaurant" class="well"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
     integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- <script src="../public/js/yelpAPI.js"></script>
  <script src="../public/js/search.js"></script> --}}
  <script>
    getRestaurant();
  </script>
